.homeTitle{
    text-align: center;
}
.aboutMeTitle{
    text-align: center;
}
.achievementsTitle{
    text-align: center;
}
.projectsTitle{
    text-align: center;
}
.othersTitle{
    text-align: center;
}