.homeTitle{
    text-align: center;
}
.aboutMeTitle{
    text-align: center;
}
.achievementsTitle{
    text-align: center;
}
.projectsTitle{
    text-align: center;
}
.othersTitle{
    text-align: center;
}
a{
    text-decoration: none;
}
.nav-item{
    list-style-type: none;
    margin: 10px;
}